<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Tests">
<listeners>
	<listener class-name="com.learning.api.utils.Listeners" />
</listeners>
    <test name="ApiTestCases">
         <classes>
             <class name="com.learning.api.test.CreateUserApiTest"/>
             <class name="com.learning.api.test.GetApiTest"/>
         </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->